<% if  Review.where(movie_id: "#{id}") == nil %>
<% else %>
<%= Review.where(movie_id: "#{id}").find_each do |review| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= review.title %>
            </div>
            <div class="panel-body">
                <%= review.body%>
            </div>
            <div class="panel-heading">
                  <footer>
                        <span><%= review.id%></span>
                        <span><%= "Created: #{format_review_date(review)}" %></span>
                        <span>   |   <%= link_to "Delete Review", review_path(params[:id] , review), method: :delete, data: {confirm: "Are you sure you want to delete this review? "} %> </span>
                  </footer>
            </div>

        </div>
<%end%>
<% end %>




