
<h2>Movies</h2>
<p>These are the featured movies: </p>
<ul>

<li>Spider-Man</li>
<%results = search('spider man')%>

<% if results != false%>
    <ul>
    <% results.each do |r| %>
    <% r = single_search(r) %>
    <span><li><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/movies/"+(r["imdbID"]).to_s)%> </li>
    <%=image_tag(single_poster(r['imdbID']), :width => "70", :class =>"img-thumbnail")  %>
    </span>

    <% end %>
    </ul>
<% else %>

<p>No movies exist with that name... Soz </p>
<% end  %>

<!--
<% if false %>





<li>Batman</li>
<% results = search("batman")%>
<ul>
  <% results.each do |r| %>
    <% r = single_search(r) %>
    <li><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/movies/"+(r["imdbID"]).to_s)%> </li>
    <%=image_tag("#{r["Poster"]}", :size => "50")  %>
    <% end %>
</ul>

<li>Spiderman</li>
<%results = search("Spider-Man")%>
<ul>
  <% results.each do |r| %>
    <% r = single_search(r) %>
    <li><%= link_to("#{r["Title"]} ( #{r["Year"]} )", "/movies/"+(r["imdbID"]).to_s)%> </li>
    <%=image_tag("#{r["Poster"]}", :size => "50")  %>
    <% end %>
</ul>
<% end %>
-->
<% if false %>

<% end %>