<div class "container">
    <div class="container-fluid">
     <div><%=image_tag(single_poster(@movie['Poster']), :alt => "#{@movie['Title']} movie poster",:width => "380" , :class => 'images', :align => 'right' , :style => 'border: 0px solid #8AC007; padding: 1px; padding-left:100px;')  %></div>

    <h2 align 'left'><%= "#{@movie["Title"]} ( #{@movie['Year']} )" %></h2>
     <h2><%= ( "IMDB Rating : ( #{@movie['imdbRating']} )") %></h2>
          <h2><%= (" Rated : (#{@movie['Rated']} )") %></h2>
    <p/>

    <p align 'left'>
    <p><%= @movie['Plot'] %> </p>
    <p/>
    <p><%="Director: #{@movie['Director']}"  %> </p>
    <p><%="Actors: #{@movie['Actors']}"  %> </p>
    <p/>
    <p><%="Genre: #{@movie['Genre']}"  %> </p>
    </p>

    <p><%= link_to("More information on IMDB site", "http://www.imdb.com/title/#{@movie['imdbID'].to_s}/")%> </p>

    <h3><%="Reviews:"  %> </h3>
    <%= link_to 'Add Review', new_review_path%>
    <%= render partial: 'reviews', :locals => {:id => params[:id]} %>
</div>
</div>