 <div class = 'col-xs-5 pull-right' align= 'right'><%=image_tag(single_poster(@movie), :alt => "#{@movie['Title']} movie poster",:width => "340", :class => 'img-responsive', :style => 'border: 1px solid #000000;')  %></div>
<div style = 'margin-right: 20px' class= "col-xs-6 pull-left" align= 'left' >
    <h2 ><%= "#{@movie["Title"]} ( #{@movie['Year']} )" %></h2>
     <h2><%= ( "IMDB Rating : ( #{@movie['imdbRating']} )") %></h2>
          <h2><%= (" Rated : (#{@movie['Rated']} )") %></h2>
    <p/>

    <div style= 'margin-right: 0px'>
    <p><%= @movie['Plot'] %> </p>
    <p/>
    <p><%="Director: #{@movie['Director']}"  %> </p>
    <p><%="Actors: #{@movie['Actors']}"  %> </p>
    <p/>
    <p><%="Genre: #{@movie['Genre']}"  %> </p>
    </div>

    <p><%= link_to("More information on IMDB site", "http://www.imdb.com/title/#{@movie['imdbID'].to_s}/")%> </p>

    <h3><%="Reviews:"  %> </h3>
    <%= link_to 'Add Review', new_review_path%>
    <%= render partial: 'reviews', :locals => {:id => params[:id]} %>
</div>
</div>
</p>
</p>
</div>
</p>
</div>
</div>
