 <div class = "container" >
 <div class = 'col-xs-5 pull-right' align= 'right'>
            <%=image_tag(single_poster(@movie), :alt => "#{@movie['Title']} movie poster",:width => "340", :class => 'img-responsive', :style => 'border: 1px solid #000000;')  %>
            <p align= 'center'><%= link_to("More information on IMDB site", "http://www.imdb.com/title/#{@movie['imdbID'].to_s}/", :target=>"_blank")%> </p>
 </div>
<div style = 'margin-right: 20px' class= "col-xs-6 pull-left" align= 'left' >
    <h2 ><%= "#{@movie["Title"]} ( #{@movie['Year']} )" %></h2>
     <h2><%= ( "IMDB Rating : ( #{@movie['imdbRating']} )") %></h2>
          <h2><%= (" Rated : (#{@movie['Rated']} )") %></h2>
    <p></p>

    <div style= 'margin-right: 0px'>
    <p><%= @movie['Plot'] %> </p>
    <p></p>
    <p><%="Director: #{@movie['Director']}"  %> </p>
    <p><%="Actors: #{@movie['Actors']}"  %> </p>
    <p></p>
    <p><%="Genre: #{@movie['Genre']}"  %> </p>
    </div>
</div>

<div class = 'col-xs-12'><a class="navbar-brand" href="<%=new_review_path%>" style = 'background:orange; color:black;' role = 'button'>Add Review</a></div>
    <div class = 'col-xs-12'><h3><%="Reviews:"  %></h3>
        <%= render partial: 'reviews', :locals => {:id => params[:id]} %>
    </div>
</div>
