<div class = "col-sm-6"><%= image_tag('api_how.png', :class => "img-responsive") %></div>
<div class = "col-sm-6"><%= image_tag('erd.png', :class => "img-responsive") %></div>
<div class = "col-xs-12"> <h1><%= " " %></h1></div>
<div class = "col-xs-12"> <h1><%= " " %></h1></div>
<div class = "col-xs-12"> <h1><%= " " %></h1></div>
<div class = "col-xs-12" style = "visibility: hidden;"> <h1>Testing and breaking: Oliver H.</h1></div>