<div class = "col-sm-6"  > <%= image_tag('api_how.png', :class => "img-responsive") %></div>
<div class = "col-sm-6"  > <%= image_tag('erd.png', :class => "img-responsive") %></div>
<div class = "col-xs-12" > <h1><%= " " %></h1></div>
<div class = "col-xs-12" > <h1><%= " " %></h1></div>
<div class = "col-xs-12" > <h1><%= " " %></h1></div>
<div class = "col-xs-12" style = "visibility: shown;"> <h1>Quality Assurance, and Product Maintenance: Oliver Hilferty.</h1></div>