<script>
$(document).ready(function(){
    $("#button").click(function(){
        $("#reviewDiv").toggle(1000);
        $('html, body').animate({
            scrollTop: $("#reviewDiv").offset().top
        }, 1000);
    });
});
</script>

<div class = 'col-xs-12 navbar-brand' style = 'background:orange; color:black; ' role = 'button' id="button">Open/Close New Review</div>


  <%= form_for @review do |f| %>
  <div class = "row">
  <% if @validatings == true %>
    <div class = "col-xs-12" id = "reviewDiv">
  <% else %>
    <div class = "col-xs-12" id = "reviewDiv" style = "display:none;">
    <% end %>
  <!-- <div class = "modal" > -->
   <div class = "modal-dialog" >
        <div class = 'modal-content'>
            <div class="modal-header">
                <h4 class="modal-title">
                      <% if @review.errors.any? %>
                        <p>The form contains <%= pluralize(@review.errors.count, "error") %> </p>
                        <ul>
                        <% @review.errors.full_messages.each do | message | %>
                            <li><%= message %></li>
                        <% end %>
                        </ul>
                    <% end %>
                 <p ><%= f.label 'Username:'%></p>
                 <p><%= f.text_area :title , cols:50, rows: 1 , :value => user_name, :readonly => true %></p>
                </h4>
            </div>
            <div class="modal-body">
                 <p><%= f.label 'Review:' %></p>
                <p><%= f.text_area :body, cols: 50, rows: 5 %></p>
            </div>
            <div  class = "modal-title">

            </div>
            <div class="modal-footer">
            <div class="modal-title">
                <%= f.hidden_field :movie_id, cols: 10, rows: 1 ,:value => id ,:readonly => true %>
            </div>
            <div class="modal-title">
                <%= f.hidden_field :user_id, cols: 10, rows: 1 , :value => user_id ,:readonly => true %>
            </div>
                 <span><%=  link_to "Close", movie_path(params[:id]) , :class => 'btn btn-default' %></span>
                <span><%= f.submit nil, :class => "btn btn-success" %></span>
            </div>
        </div>
    </div>
</div>
</div>

    <% end %>


