<div class = "container" >
<div class = 'col-xs-5 pull-right' align= 'right'><%=image_tag(single_poster(@series), :alt => "#{@series['Title']} tv-series poster", :width => "340", :class => 'img-responsive', :style => 'border: 2px solid #000000;') %>
    <p align= 'center'><%= link_to("More information on IMDB site", "http://www.imdb.com/title/#{@series['imdbID'].to_s}/", :target=>"_blank")%> </p>
</div>

     <div style = 'margin-right: 20px' class= "col-xs-6 pull-left" align= 'left' >
            <h2 align 'left'><%= "#{@series["Title"]} ( #{@series['Year']} )" %></h2>
             <h2><%= ( "IMDB Rating : ( #{@series['imdbRating']} )") %></h2>
                  <h2><%= (" Rated : (#{@series['Rated']} )") %></h2>
            <div>
                <p><%= @series['Plot'] %> </p>
                <p><%="Director: #{@series['Director']}"  %> </p>
                <p> <%="Actors: #{@series['Actors']}"  %> </p>
                <p style = 'padding-bottom:40px;'><%="Genre: #{@series['Genre']}"  %> </p>

                 <span>
                    <script>
                    $(document).ready(function(){
                        $('#select_series').change(function() {
                            $('#season_ep_to_be_changed').html($(this).val());
                        });
                    });
                
                    </script>


                    <% season = 1 %>
                    <% episodes_results = series_episodes_search(@series['Title'].gsub('+',' '), season)%>
                    <% episodes_results = episodes_results["Episodes"] %>
                    <% episode_number = 1 %>
                    <%="Select Season: "%> 
                    <div id="text_to_be_changed"><%= @day_of_week %></div>
                    <%= select_tag :season_num, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], params[:seasoninum]), :id => "select_series"%>
                    <% if episodes_results != false %>
                        <h3 class = "col-xs-12"> Series Episodes, Season <span id='season_ep_to_be_changed'> <%= 1 %></span>  </h3>
                        <% if episodes_results != nil %>
                            <% episodes_results.each do |r| %>
                            <div class = 'col-xs-6 col-lg-6'><h4><%="#{episode_number.to_s.rjust(2, '0')} | "%><%= link_to(" #{r["Title"]}".truncate(20) , "#".to_s)%></h4></div>
                            <% episode_number += 1%>
                            <% end %>
                        <% else  %>
                         <div class= "col-xs-12">  There are no Episodes on that season :(  </div>
                        <% end %>
                    
                    <% end %>

                <div style ='padding-bottom:20px;'></div>
                <h1> </h1>
                 </span>

             </div>
     </div>


    <div class = 'col-xs-12'><h3><%="Reviews:"  %></h3>
    <% if logged_in? %>
     <%= render partial: '/reviews/forms' , :locals => {:id => params[:id]  , :user_id => current_user.id , :user_name => current_user.name} %>
     <% else %>
     <div > <a class = 'navbar-brand col-xs-12' style = 'background:orange; color:black; margin-bottom:10px; ' href =" <%= login_path %> ">Please Log in to add a review</a>
     <% end %>
        <%= render partial: '/movies/reviews', :locals => {:id => params[:id]} %>
    </div>
    </div>
</div>
