
    <h2><%= "#{@series["Title"]} ( #{@series['Year']} ) ( IMDB Rating : #{@series['imdbRating']} ) ( Rated : #{@series['Rated']} )" %> </h2>
    <p>
    <p><%= @series['Plot'] %> </p>
    <p/>
    <p><%="Director: #{@series['Director']}"  %> </p>
    <p><%="Actors: #{@series['actors']}"  %> </p>
    <p/>
    <p><%="Genre: #{@series['Genre']}"  %> </p>

    <div>
      <div>%=image_tag(single_poster(@series['imdbID']), :width => '1000', :align => 'right' )%></div>

     <span align 'left'>
    <p> . </p>
    <p> Pilot Episode:  </p>
    <span>  <%= @episodes['Title'] %> </span>
    <span> <%= @episodes['Released']%> </span>
    <div><%= @episodes['Plot']%></div>
    <p> . </p>
    <h1> </h1>
     </span>
     </div>

    <div align 'right'>
    <p><%= link_to("More information on IMDB site", "http://www.imdb.com/title/#{@series['imdbID'].to_s}/") %></p>
    </div>

    <h3><%="Reviews:"  %> </h3>
    <%= link_to 'Add Review', new_review_path%>
    <%= render partial: '/movies/reviews', :locals => {:id => params[:id]} %>


     <div><%=image_tag(single_poster(@series['imdbID']), :width => '1000', :align => 'right' )%></div>
